

beautifulsoup4
boto3
botocore
Bottleneck
brotlipy==0.7.0
certifi
cffi
charset-normalizer
click==8.1.3
colorama
cors==1.0.1
cryptography
dnspython==2.2.1
docutils
filelock==3.8.0
Flask==2.2.2
Flask-Cors==3.0.10
future==0.18.2
gevent==21.12.0
greenlet
html5lib==1.1
HTMLParser==0.0.2
idna
imagesize
itsdangerous==2.1.2
Jinja2
jmespath
lxml==4.9.1
MarkupSafe
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
mysql-connector-python==8.0.30
numexpr
numpy==1.23.3
numpydoc
packaging
pandas==1.4.4
protobuf==3.20.1
pycparser
Pygments
pymongo==4.2.0
PyMySQL==1.0.2
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytube==12.1.0
pytz6
requests
requests-file==1.5.1
s3transfer
selenium
six
snowballstemmer
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
tldextract==3.3.1
urllib3
webencodings==0.5.1
Werkzeug==2.2.2
win-inet-pton
wincertstore==0.2
zope.event==4.5.0
zope.interface==5.4.0
